<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html ng-app="cbApp">
  <head>
    <meta charset="utf-8"/>
    <title>Cutting Board Designer</title>
    <style>
      body {
      margin: 0;
      padding: 0;
      }
    </style>
    <link rel="stylesheet" href="/public/components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.css"/>
    <link rel="stylesheet" href="/assets/css/social-bootstrap.css"/>

  </head>
  <body ng-controller="CBController">



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to Cutting Board Designer</h1>
    </div>
  </div>
  <div class="col-md-12">
    <h3 class="heading-desc">Login to your dashboard</h3>
    <div class="row">
      <div class="col-md-6">
        <a href="/login/facebook" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="/login/google" title="Google" class="btn btn-block btn-social btn-lg btn-google-plus">
          <i class="fa fa-google-plus"></i> Sign in with Google
        </a>
      </div>
    </div>	
  </div>    
</div>



</body>
</html>
